body{
	margin:0 auto; 
	box-sizing: border-box;
}

/* MOBILE VERSION LOGGED IN - DONATE*/

.sidenav_scroll{
	display: none;
}
/* wrapper menu */
.bg_nav{
background-color: #CE9596;
	width: 60px;
	height: 60px;
z-index: 10;
	align-items: center;
	margin: 0 auto;
	border-radius: 100%;
	justify-content: center;
	margin-right: 3vw;
	margin-top: 3vw;
	  transition: all .5s ease-in-out;
	
}


.bg_nav:hover{
	 border-radius:0;
	 
}

.wrapper-menu {
	margin-top: 2vh;
	 display: block;
    margin-left: auto;
    margin-right: auto;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
	z-index: 10;
}

.wrapper-menu.open {
  transform: rotate(-45deg);  
}

.line-menu {
border-bottom: 2px solid white;
  border-radius: 5px;
  width: 100%;
z-index: 10;
	

}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}


/*side menu */
.container_donation_loggedin .sidenav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 6;
  top: 0;
  right: 0;
  background-color: #CE9596;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 15vh;


}

.container_donation_loggedin .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
	font-family: "Raleway", "sans-serif";
	font-size: 3.5vw;
	font-weight: 100;
	justify-self: start;
	

}

.container_donation_loggedin .sidenav{
	display: grid;
	grid-template-columns: 40% 60%;
	grid-auto-rows: 50px;
	grid-auto-columns: 100px;
   margin: 0 auto;
 

}

.container_donation_loggedin .sidenav hr{
	width: 30px;
	border:0;
	border-top: 0.5px solid white;
	margin-top: 2vh;
	margin-left:  20vh;
	
}
.container_donation_loggedin .menu{
	cursor: pointer;
	z-index: 10;
	position: absolute;
	right: 2vh;
	top:2vh;
	width: 10vw;
}

.container_donation_loggedin .sidenav a:hover{
  color: #262626;
}

.container_donation_loggedin .sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* slideshow*/
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  width: 100vw;
	height: auto;
  position: relative;
  margin: auto;
}

.container_donation_loggedin .slideshow-container .mySlides img{
	width: 100vw;
	height: auto;
}

/* Caption text */
.container_donation_loggedin .slideshow-container .text {
  color: #f2f2f2;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
background-color: #262626;
}

.container_donation_loggedin .slideshow-container .text h5{
	font-family: "Montserrat", "sans-serif";
	color: white;
	font-weight: 400;
	font-size: 5vw;
	text-align: center;
	height: 1vh;
}

.container_donation_loggedin .slideshow-container .text .time{
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	text-align: center;
}


.container_donation_loggedin .slideshow-container .text .time h6{
	font-family: "Raleway", "sans-serif";
	color: white;
	font-size: 3.5vw;
	font-weight: 100;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 2vh;
}

.container_donation_loggedin .slideshow-container .text p{
	font-family: "Raleway", "sans-serif";
	color: white;
	font-size: 3.3vw;
	font-weight: 100;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 5vh;
}

/* The dots/bullets/indicators */

.dots{
	margin-left: 42vw;
	padding-top: 2vh;
	z-index: 3;
	position: absolute;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #E8AFB1;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
	
}

.active {
  background-color:  #BC8A8C;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* MOBILE VERSION LOG IN -SIGN UP - DONATE FORMS*/

/* UNIVERSAL ARROW NAVIGATION*/

.container_one_payment .arrow,
.login_system .arrow,
.signup_system .arrow,
.signup_system_step1 .arrow,
.registration_complete .arrow{
	width: 80%;
	cursor: pointer;
	padding-left: 2vw;
}

.container_one_payment .arrow img,
.login_system .arrow img,
.signup_system .arrow img,
.signup_system_step1 .arrow img,
.registration_complete .arrow img{
	width: 15px;
	height: auto;
}

.container_one_payment .arrow:hover,
.login_system .arrow:hover,
.signup_system .arrow .arrow:hover,
.signup_system_step1 .arrow:hover,
.registration_complete .arrow:hover{
	padding-left: 1vw;
	transition: 0.5s;
}

/* POLLUTION TEXT*/

.pollution {
	display: none;
}

.donation_img {
	width: 100%;
	height: 100%;
	position: fixed;
	right: 0px;
	top: 0px;
	z-index: -1;
}

.stretch {
	width: 100%;
	height: 100%;
}

/* STYLING SAME FOR EACH ELEMENTS IN THE CONTAINERS */

.container,
.container_one_payment,
.login_system,
.signup_system,
.signup_system_step1{
	width: 80vw;
	height: auto;
	background-color: #262626;
	border-radius: 2px;
	margin-top: 10vh;
	margin-left: 10vw;
	position: absolute;
	z-index: 2;
	padding-bottom: 3vw;
}

.registration_complete{
		width: 80vw;
	height: 100vh;
	background-color: #262626;
	border-radius: 2px;
	margin-top: 10vh;
	margin-left: 10vw;
	position: absolute;
	z-index: 2;
	padding-bottom: 3vw;
}

.container_one_payment img,
.login_system img,
.signup_system img,
.registration_complete .nav img,
.signup_system_step1 .nav img,
.container .nav img,
.container_donation_loggedin .nav img{
	width: 22vw;
	height: auto;
	padding-top: 5vw;
}

.container_donation_loggedin .nav{
	background-color: #262626;
	z-index: 2;
	width; 100vw;
	display: grid;
	grid-template-columns: 1fr 1fr;
	
}
.container h3,
.container_one_payment h3,
.registration_complete h3{
	font-family: "Montserrat", "sans-serif";
	color: white;
	font-weight: 400;
	font-size: 5vw;
	text-align: center;
	height: 1vh;
}



.container p,
.container_one_payment p,
.login_system p,
.signup_system p,
.registration_complete p,
.signup_system_step1 p{
	font-family: "Raleway", "sans-serif";
	color: white;
	font-size: 3.5vw;
	font-weight: 100;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 5vh;
}

.container button,
.container_one_payment button,
.login_system button,
.signup_system button,
.signup_system_step1 button{
	border: 5px solid #CE9596;
	background-color: #262626;
	width: 80%;
	font-family: "Raleway", "sans-serif";
	color: #CE9596;
	font-size: 5vw;
	font-weight: 100;
	margin-bottom: 3vh;
	text-align: center;
	margin-left: 10%;
	cursor: pointer;
}

.container button:hover,
.container_one_payment button:hover,
.login_system button:hover,
.signup_system button:hover,
.signup_system_step1 button:hover{
	background-color: #CE9596;
	width: 80%;
	font-family: "Raleway", "sans-serif";
	font-size: 5vw;
	font-weight: 100;
	margin-bottom: 3vh;
	color: white;
	text-align: center;
	margin-left: 10%;
	cursor: pointer;
	transition: 0.8s;
}

.container_one_payment .nav {
	display: grid;
	grid-template-columns: 20% 80%;
}

.container .nav{
		display: grid;
	grid-template-columns: 80% 20%;
}

.login_system .nav,
.signup_system .nav,
.signup_system_step1 .nav{
	display: grid;
	grid-template-columns: 60% 20% 20%;
}

.registration_complete .nav{
	display: grid;
	grid-template-columns: 40% 30% 30%;
}

.login_system .nav p,
.signup_system .nav p,
.signup_system_step1 .p{
	color: #CE9596;
	text-decoration: underline;
	padding-top: 3vh;
	cursor: pointer;
}

.registration_complete .nav .main_page,
.registration_complete .nav .login_button{
	padding-top: 3vh;
	cursor: pointer;
	color: white;
}

.login_system .nav .sign_up_button{
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.signup_system .nav .sign_up_button,
.signup_system_step1 .nav .sign_up_button{
	color: #CE9596;
	text-decoration: underline;
	padding-top: 3vh;
	cursor: pointer;
}

.signup_system .nav .login_button,
.signup_system_step1 .nav .login_button,
.container .nav .mainpage_button{
	color: white;
	text-decoration: none;
	cursor: pointer;
	padding-top: 3vh;
}

.signup_system .nav .login_button:hover,
.signup_system_step1 .nav .login_button:hover,
.registration_complete .nav .main_page:hover,
.registration_complete .nav .login_button:hover,
.container .nav .mainpage_button:hover{
	color: #CE9596;
	text-decoration: underline;
	padding-top: 3vh;
	cursor: pointer;
}

.login_system .nav .sign_up_button:hover {
	color: #CE9596;
	text-decoration: underline;
	padding-top: 3vh;
	cursor: pointer;
}

.signup_system .nav .login_button:hover + .sign_up_button,
.signup_system_step1 .nav .login_button:hover + .sign_up_button{
	color: white;
	text-decoration: none;

}

.login_system .nav .sign_up_button:hover + .login_button {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.container_one_payment p {
	color: #CE9596;
	text-decoration: underline;
	padding-top: 3vh;
}

.login_system h4,
.signup_system_step1 h4{
	color: white;
	padding-top: 2vh;
	font-family: "Raleway", "sans-serif";
	font-size: 4vw;
	font-weight: 100;
	text-align: left;
	width: 80%;
	margin: 0 auto;
}

.login_system .sentence{
	display: grid;
	grid-template-columns: 52% 47%;
	margin: 0;

}

.login_system .sentence h4 {
	text-align: right;
	justify-self: end;
	align-self: end;
}

.login_system .sentence .again {
	color: #CE9596;
	text-align: left;
	justify-self: start;
	align-self: start;
	margin-left: -6%;
}

.container_one_payment h4 {
	color: #CE9596;
	text-decoration: underline;
	padding-top: 3vh;
	font-family: "Raleway", "sans-serif";
	font-size: 4vw;
	font-weight: 100;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 5vh;
}

..container_one_payment .donation_amount {
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
}

.container_one_payment label {
	background-color: #CE9596;
	border-radius: 20px;
	width: 100%;
	cursor: pointer;
	color: white;
	font-family: "Raleway", "sans-serif";
	font-size: 3vw;
	font-weight: 100;
	padding: 7px;
	margin-left: 15%;
	text-align: center;
	margin-right: 10vw;

}

.container_one_payment label input {
	margin-bottom: 4vh;
}

.container_one_payment .donation_amount .enter_amount {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 80%;
	height: 5vh;
	align-items: end;
	margin: 0 auto;
	margin-bottom: 4vh;

}

.container_one_payment .donation_amount .enter_amount img {
	width: 8vw;

}

.signup_system .register-form,
signup_system_step1 registration_step1{
	display: grid;
	grid-template-columns: 1fr;
	width: 80%;
	padding-top: 3vh;
	padding-bottom: 3vh;
	margin: 0 auto;
	align-items: center;
}

.login_system .login-form {
	display: grid;
	grid-template-columns: 1fr;
	width: 80%;
	padding-top: 3vh;
	padding-bottom: 3vh;
	margin: 0 auto;
	align-items: center;
}


.login_system .login-form .log_in_some,
.signup_system .register-form .log_in_some {
	color: white;
	font-family: "Raleway", "sans-serif";
	font-size: 3vw;
	font-weight: 100;
	width: 80%;
	text-align: center;
	margin-bottom: 0;

}

.login_system .login-form .some,
.signup_system .register-form .some {
	width: 55%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	cursor: pointer;

}

.login_system .login-form .some img,
.signup_system .register-form .some img {
	width: 7vw;
	height: auto;

}

.login_system .login-form img,
.signup_system .register-form img {
	width: 5vw;
	height: auto;
}

.login_system .login-form input {
	background-color: #262626;
	border: 0;
	border-bottom: 2px solid white;
	padding: 0.2em;
	text-align: center;
	margin: 0 auto;
	transition: border-bottom .35s ease-in-out;
	color: white;
	width: 60%;
	font-family: "Raleway", "sans-serif";
	font-size: 3vw;
	font-weight: 100;

}

.login_system .login-form .forgot_password h5 {
	font-family: "Raleway", "sans-serif";
	color: white;
	font-size: 2.2vw;
	margin-top: 2px;
	cursor: pointer;
}

.login_system .login-form .forgot_password h5:hover {
	color: #CE9596;
}

.login_system .login-form .forgot_password {
	justify-self: center;
}

.login_system .login-form span .required:after {
	content: "*";
	color: white;

}

.login_system .login-form .wrong_data {
	font-family: "Raleway", "sans-serif";
	font-size: 3vw;
	font-weight: 100;
	color: #CE9596;
	padding-top: 3vh;
	padding-bottom: 3vh;
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.login_system .login-form button,
	{
	margin-left: 0;
}

.signup_system .register-form button {
	margin-left: 20px;
}

.container_one_payment .donation_amount .enter_amount input {
	background-color: #262626;
	border: 0;
	border-bottom: 2px solid white;
	padding: 0.2em;
	text-align: center;
	margin: 0 auto;
	transition: border-bottom .35s ease-in-out;
	color: white;
	padding-bottom: 1vh;
}

.container_one_payment .donation_amount .enter_amount input:focus,
.login_system .login-form input:focus,
.signup_system_step1 .registration_step1 input:focus{
	border-bottom: 2px solid #CE9596;
	color: #CE9596;

}

.container_one_payment .donation_amount .enter_amount label:focus {
	border-bottom: 2px solid #CE9596;
	color: white;
}

.container_one_payment .donation_amount .enter_amount p {
	font-family: "Raleway", "sans-serif";
	color: white;
	font-size: 3.5vw;
	font-weight: 100;
	text-decoration: none;
	align-self: end;
	justify-self: start;
	margin-bottom: 0;

}

.container_one_payment .card_details {
	background: rgba(255, 255, 255, 0.3);
	border-radius: 20px;
	display: grid;
	grid-template-columns: 40% 55%;
	cursor: pointer;
	width: 80%;
	align-items: end;
	margin: 0 auto;
	margin-bottom: 3vh;

}

.container_one_payment .card_details label {
	font-family: "Raleway", sans-serif;
	font-weight: 100;
	font-size: 3vw;
	padding: 3px;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.0);

}

.container_one_payment .card_details .card_visa {
	align-items: end;
	place-self: center;
	justify-self: end;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;



}

.container_one_payment .card_details .card_visa img {
	padding-top: 0;
	width: 20px;
	height: auto;
	padding-right: 2px;
	align-items: end;
	place-self: center;
	justify-self: end;

}

.container_one_payment .card_details .card {
	align-items: end;
	place-self: center;
	justify-self: end;
}

.container_one_payment .card_details .card img {
	width: 20px;
	height: auto;
}


/* SIGN UP DIFFRENT STYLING */

.signup_system .register-form .personal_info {
	display: grid;
	grid-template-columns: 15% 85%;
	width: 80%;
	height: 10vh;
}

.signup_system .register-form .personal_info h5 {
	font-family: "Raleway", sans-serif;
	font-size: 3.5vw;
	color: white;
	font-weight: 200;
	justify-self: start;
}

.signup_system .register-form input,
.signup_system_step1 .registration_step1 input{
	background-color: #262626;
	border: 0;
	border-bottom: 2px solid white;
	padding: 0.2em;
	text-align: center;
	margin-left: 10%;
	transition: border-bottom .35s ease-in-out;
	color: white;
	width: 70%;
	font-family: "Raleway", "sans-serif";
	font-size: 3vw;
	font-weight: 100;

}

.signup_system .register-form .img_upload {
	padding-bottom: 5vh;
}

.signup_system .register-form .username_email img,
.signup_system .register-form .username_password img,
.signup_system .register-form .img_upload img {
	padding-top: 1vw;
}

.signup_system .register-form .username_email input,
.signup_system .register-form .username_password input,
.signup_system .register-form .img_upload input {
	margin-left: 0;
	width: 70%;

}


/* register form correct data */
.required:after {
	content: "*";
	color: white;

}

:required {
	border: 1px solid black;
}

input:valid {
	border: 1px solid black;
}

div input:valid:not(:placeholder-shown) ~ .correct::after {

	content: "👌";

}

div input:invalid:not(:placeholder-shown) ~ .correct::after {

	content: "Ups! It's incorrect 😞 ";
	color: #CE9596;
	font-family: "Raleway", "sans-serif";
	font-size: 2.5vw;
	font-weight: 100;

}


/* registration confirmation diffrent styling */ 
.registration_complete .bird{
	  width: 80%;
	height:auto;
	  display: block;
  margin-left: auto;
  margin-right: auto;
	padding-top: 4vh;
	padding-bottom: 4vh;
}

.registration_complete .name,
.registration_complete .mail,
.registration_complete .resend{
	color: #CE9596;
}

.registration_complete .resend_mail p{
	font-size: 2.5vw;
	cursor: pointer;
}


.registration_complete .resend_mail{
	cursor: pointer;
	bottom: 0;
	position: absolute;
	width: 100%;
	margin: 0 auto;
		
}


/* SIGN UP  - step 1 -DIFFRENT STYLING */ 

.signup_system_step1 .registration_step1{
	padding-top: 5vh;
}

.signup_system_step1 .registration_step1 .tshirt{
	display: grid;
	grid-template-columns: 80% 20%;
	width: 80%;
	padding-top: 2vh;
}

.signup_system_step1 .registration_step1 .tshirt select{

    color: #CE9596;
    font-family: "Raleway", "sans-serif";
    font-weight: 100;
    font-size: 3vw;
    border: 0;
    border-bottom: 2px solid #CE9596;
    background-color: #262626;
    width: 50px;
    justify-self: center;
    margin: 0 auto;
	align-self: start;
	justify-self: start;
}



@media screen and (min-width: 650px) {


	.container p {
		font-size: 2vw;
	}

	.container_one_payment .donation_amount .enter_amount {

		margin-bottom: 6vh;

	}

	.container_one_payment {
		width: 36%;
		height: auto;
		margin-top: -10px;
		margin-left: -10px;
		padding-bottom: 10px;
	}
}


/* TABLET VERSION */

@media screen and (min-width: 720px) {

/*donation_loggedin.html styling*/	
	.bg_nav{
		margin-top: 2vh;
		width: 55px;
		height: 55px;
	}
	
/*side menu */
.container_donation_loggedin .sidenav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 6;
  top: 0;
  right: 10vw;
  background-color: #CE9596;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 15vh;


}

.container_donation_loggedin .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
	font-family: "Raleway", "sans-serif";
	font-size: 3.5vw;
	font-weight: 100;
	justify-self: start;
	

}

.container_donation_loggedin .sidenav{
	display: grid;
	grid-template-columns: 40% 60%;
	grid-auto-rows: 50px;
	grid-auto-columns: 100px;
   margin: 0 auto;
 

}

.container_donation_loggedin .sidenav hr{
	width: 30px;
	border:0;
	border-top: 0.5px solid white;
	margin-top: 2vh;
	margin-left:  20vh;
	
}
.container_donation_loggedin .menu{
	cursor: pointer;
	z-index: 10;
	position: absolute;
	right: 2vh;
	top:2vh;
	width: 10vw;
}

.container_donation_loggedin .sidenav a:hover{
  color: #262626;
}

.container_donation_loggedin .sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
  margin-left: 50px;
}
	
	
	
	
/* Slideshow container - donation_loggedin.html*/



/* Caption text */
.container_donation_loggedin .slideshow-container .text {
  color: white;
  
}

.container_donation_loggedin .slideshow-container .text h5{
	font-size: 3.5vw;
	
}

.container_donation_loggedin .slideshow-container .text .time h6{
	font-size: 2.5vw;
	
}

.container_donation_loggedin .slideshow-container .text p{
	font-size: 2.2vw;
	
}



	/* TABLET VERSION FOR SIGN UP LOGIN DONATE FORMS*/
	.step_1 {
		display: grid;
		grid-template-columns: 1fr 1fr;

	}

	.donation_img {
		width: 66%;
		height: 100%;
		position: fixed;
		right: 0px;
		top: 0px;
		z-index: -1;
	}

	.stretch {
		width: 100%;
		height: 100%;
	}

	.container{
		width: 36%;
		height: 101%;
		margin-top: -10px;
		margin-left: -10px;
		padding-bottom: 0;

	}
	
	.registration_complete{
			width: 36%;
		height: 110%;
		margin-top: -10px;
		margin-left: -10px;
		padding-bottom: 0;
	}
	

	.login_system,
	.signup_system,
	.signup_system_step1{
		width: 36%;
		height: auto;
		margin-top: -10px;
		margin-left: -10px;
		padding-bottom: 15px;
	}


	.container .nav img,
	.container_one_payment .nav img,
	.login_system .nav img,
	.signup_system .nav img,
	.registration_complete .nav img,
	.signup_system_step1 .nav img,
	.container_donation_loggedin .nav img{
		width: 10vw;
		height: auto;
		padding-top: 3vw;
	}

	
	.container_one_payment .nav p,
	.login_system .nav p,
	.signup_system .nav p,
	.registration_complete .nav p,
	.signup_system_step1 .nav p,
	.container .nav p{
		font-size: 1.5vw;
	}
	.container h3,
	.container_one_payment h3,
	.login_system h3,
	.registration_complete h3{
		font-size: 2.5vw;
		text-align: center;
		height: 4vh;
	}

	.container p,
	.container_one_payment p,
	.registration_complete p,
	.signup_system_step1 p{
		font-size: 2vw;
		width: 80%;
		margin: 0 auto;
		margin-bottom: 7vh;
	}

	.container button,
	.container_one_payment button,
	.login_system button,
	.signup_system button,
	.signup_system_step1 button{
		font-size: 2vw;
		padding: 0.5vw;
	}


	.container button:hover,
	.container_one_payment button:hover,
	.login_system button:hover,
	.signup_system button:hover,
	.signup_system_step1 button:hover{
		font-size: 2vw;
	}


	.container_one_payment h4,
	.login_system h4,
	.signup_system_step1 h4{
		font-size: 2.5vw;

	}

	.container_one_payment label {

		font-size: 1.5vw;
		padding: 6px;
		text-align: center;
		margin-right: 0;

	}

	.container_one_payment label input {
		margin-bottom: 5vh;
	}

	.container_one_payment .donation_amount .enter_amount {
		height: 10vh;
		margin-top: -5vh;
	}

	.container_one_payment .donation_amount .enter_amount img {
		width: 5vw;


	}

	.container_one_payment .donation_amount .enter_amount p {

		font-size: 2.5vw;
	}

	.container_one_payment .card_details {
		background: rgba(255, 255, 255, 0.3);
		border-radius: 20px;
		display: grid;
		grid-template-columns: 45% 55%;
		cursor: pointer;
		width: 80%;
		align-items: center;
		margin: 0 auto;
		margin-bottom: 3vh;

	}

	.container_one_payment .card_details label {
		font-size: 1.5vw;

	}



	.container_one_payment .card_details .card_visa img {
		padding-top: 0;
		width: 20px;
		height: auto;
		padding-right: 2px;
		align-items: end;
		place-self: center;
		justify-self: end;

	}


	.container_one_payment .card_details .card img {
		width: 20px;
		height: auto;
		padding-right: 15px;
		padding-top: 0;
	}



	/* LOG IN /SIGN UP SYSTEM DIFFRENT DATA STYLING */
	.login_system .nav {
		margin-bottom: 5vh;
	}

	.login_system .sentence {
		grid-template-columns: 70% 30%;
	}

	.login_system .sentence .again {
		margin-left: -1vw;
	}

	.login_system .login-form img,
	.signup_system .register-form img{
		width: 3vw;
		height: auto;
	}

	.login_system .login-form input,
	.signup_system .register-form input,
	.signup_system_step1 .registration_step1 input{
		font-size: 2vw;
		width: 70%;
	}

	.login_system .login-form .wrong_data {
		font-size: 2vw;
		width: 80%;
	}

	.login_system .login-form button {
		margin-left: 15px;
	}

	.login_system .login-form .forgot_password h5 {
		font-size: 1.5vw;
		margin-top: 3px;

	}


	.login_system .login-form .forgot_password {
		justify-self: end;

	}

	/* LOG IN /SIGNUP SYSTEM FB GOOGLE STYLING */
	.login_system .login-form .log_in_some,
	.signup_system .register-form .log_in_some {
		font-size: 2vw;
		width: 80%;
		align-self: center;
		margin-left: 5px;

	}

	.login_system .login-form .some img,
	.signup_system .register-form .some img {
		width: 5vw;
		height: auto;

	}
	/* SIGNUP SYSTEM DIFFRENT STYLING */

	
.signup_system .register-form .personal_info {
	display: grid;
	grid-template-columns: 20% 80%;
	width: 80%;
	height: 13vh;
	align-items: end;

}

	.signup_system .register-form .personal_info img{
		margin-bottom: 5vh;
	}
.signup_system .register-form .personal_info h5 {
	font-family: "Raleway", sans-serif;
	font-size: 2vw;
	color: white;
	font-weight: 200;
	justify-self: start;
		align-self: end;
	
}

.signup_system .register-form input {
	font-size: 1.9vw;
	
}


div input:invalid:not(:placeholder-shown) ~ .correct::after {

	font-size: 1.8vw;
	

}

/* registration confirmation diffrent styling */ 
.registration_complete .bird{
	padding-top: 6vh;
	padding-bottom: 6vh;
}


.registration_complete .resend_mail{
	cursor: pointer;
	bottom: 0;
	position: absolute;
	
	
}
	
	.registration_complete .resend_mail p{
		font-size: 1.7vw;
		padding-top: 1vh;
	}

	.registration_complete .resend_mail hr{
		border: 0.5px solid white;
		width: 90%;
		margin: 0 auto;
	}
	/* POLLUTION TEXT */
	.pollution {
		position: absolute;
		right: 0;
		top: 13vh;
		background: rgba(0, 0, 0, 0.5);
		font-family: "Montserrat", "sans-serif";
		color: white;
		font-weight: 400;
		font-size: 2vw;
		text-align: center;
		display: block;
		width: 35vw;
		z-index: 10;
	}

	

/* SIGN UP  - step 1 -DIFFRENT STYLING */ 


.signup_system_step1 .registration_step1 .tshirt{
	display: grid;
	grid-template-columns: 90% 10%;
	width: 80%;
	padding-top: 2vh;
}

.signup_system_step1 .registration_step1 .tshirt select{

   
    font-size: 2vw;
    width: 50px;
    
}

}


@media screen and (min-width: 992px) {
	
/* Donation system step 1*/	
	
	.container_donation_loggedin .nav{
	background-color: transparent;
		position: absolute;
		position: fixed;
	z-index: 2;
	width: 100vw;
	display: grid;
	grid-template-columns: 1fr 1fr;
	
}

	.container_donation_loggedin .nav .image_bg{
		width: 8vw;
		height: auto;
		background-color: #262626;
		align-content: center;
	
		
	}
	
.container_donation_loggedin .nav .image_bg img{
		width: 100px;
	height:auto;
	padding-top: 1vw;
	margin-left: auto;
	margin-right: auto;
	display: block;
	
	}

	/* Donation system step 1*/
	.pollution {
		font-size: 1.7vw;
	}

	.container img,
	.container_one_payment img,
	.login_system img,
	.signup_system img,
	.registration_complete img,
	.signup_system_step1 img,
	.container .nav img{
		width: 8vw;
	}

	.container h3,
	.container_one_payment h3,
	.registration_complete h3{
		font-size: 2vw;
	}

	.container_one_payment h4,
	.signup_system_step1 h5{
		font-size: 1vw;
	}

	
	.container_one_payment p,
	.login_system p,
	.signup_system p,
	.registration_complete p,
	.signup_system_step1 p,
	.container .nav p{
		font-size: 1.3vw;
	}

	.container button,
	.container_one_payment button,
	.login_system button,
	.signup_system button,
	.signup_system_step1 button{
		font-size: 1.5vw;
	}

	.container button:hover,
	.container_one_payment button:hover,
	.login_system button:hover,
	.signup_system button:hover,
	.signup_system_step1 button:hover{
		font-size: 1.5vw;
	}


	.container_one_payment .donation_amount .enter_amount {
		margin-top: -8vh;
	}

	.container_one_payment h4 {
		font-size: 1.8vw;
		margin-bottom: 3vh;

	}

	.container_one_payment label {
		font-size: 1.4vw;

	}

	.container_one_payment .donation_amount .enter_amount img {
		width: 3.5vw;
		justify-self: center;



	}

	.container_one_payment .donation_amount .enter_amount p {

		font-size: 2vw;
		justify-self: center;
	}


	.container_one_payment .card_details label {
		font-size: 1.2vw;
		align-self: center;
		padding: 10px;
	}

	.container_one_payment .card_details label input {
		align-self: center;
		margin-bottom: 0;
	}


	/* LOG IN SYSTEM DIFFRENT DATA STYLING */
	.login_system .sentence {
		grid-template-columns: 60% 40%;
	}

	.login_system .sentence h4 {
		text-align: left;
		padding-left: 2vw;

	}

	.login_system h4 {
		font-size: 2vw;
	}

	.login_system .sentence .again {
		margin-left: -4.5vw;
	}

	.login_system .login-form img,
	.signup_system .register-form img
	{
		width: 2vw;
		height: auto;
		padding-top: 3vh;
	}

	.login_system .login-form input {
		font-size: 1.2vw;
		width: 70%;
	}

	.login_system .login-form .wrong_data {
		font-size: 1vw;

	}

	.login_system .login-form .forgot_password h5 {
		font-size: 1vw;
		margin-top: 3px;



	}
	.login_system .login-form .forgot_password {
		justify-self: end;



	}

	.login_system .login-form .log_in_some,
	.signup_system .register-form .log_in_some{
		font-size: 1vw;
	}


	.login_system .login-form .some img,
	.signup_system .register-form .some img{
		width: 3vw;
		height: auto;

	}

	.signup_system .register-form .some img{
		padding-top: 3vh;
	}
	
		/* SIGNUP SYSTEM DIFFRENT STYLING */

	
.signup_system .register-form .personal_info {
	height: 14vh;
	

}
	.signup_system .register-form .personal_info img{
		margin-bottom: 5vh;
	}
.signup_system .register-form .personal_info h5 {
	font-size: 1.5vw;
	
	
}

.signup_system .register-form input,
.signup_system_step1 .registration_step1 input{
	font-size: 1.3vw;
	
}


div input:invalid:not(:placeholder-shown) ~ .correct::after {

	font-size: 1.2vw;
	

}

/* registration confirmation diffrent styling */ 
.registration_complete .bird{
	padding-top: 6vh;
	padding-bottom: 6vh;
	width: 70%;
}


.registration_complete .resend_mail{
	width: 80%;
	margin-left: 10%;
	
	
	
}
	
	.registration_complete .resend_mail p{
		font-size: 1vw;
		padding-top: 1vh;
	}

	.registration_complete .resend_mail hr{
		width: 100%;
		
		
	}
	
	/* SIGN UP  - step 1 -DIFFRENT STYLING */ 


.signup_system_step1 .registration_step1 .tshirt{
	display: grid;
	grid-template-columns: 90% 10%;
	width: 80%;
	padding-top: 2vh;
}

.signup_system_step1 .registration_step1 .tshirt select{
    font-size: 1.2vw;
    width: 50px;
    
}

	
	/* LINES FOR WEB VERSION */

.lines_bg{
	width: 100vw;
	height: 100vh;
	position: relative;
	position: fixed;
 
}

.lines_bg div{
	display: inline-block;
}

.lines_bg .line1{
	margin-left: 4vw;
	 border-left: 1px solid gray;
	height: 100vh;
	position: absolute;
	width:4vw;

}

.lines_bg .line2{
	margin-left: 8vw;
	width:21vw;
	 border-left: 1px solid gray;
	height: 100vh;
	position: absolute;
	

}

.lines_bg .line3{
	margin-left: 29vw;
	width:21vw;
	 border-left: 1px solid gray;
	height: 100vh;
	position: absolute;
}

.lines_bg .line4{
	margin-left: 50vw;
	width:21vw;
	 border-left: 1px solid gray;
	height: 100vh;
	position: absolute;
	
}

.lines_bg .line5{
	margin-left: 71vw;
	width:21vw;
	 border-left: 1px solid gray;
	height: 100vh;
	position: absolute;
}

.lines_bg .line6{
	margin-left: 92vw;
	width:4vw;
	 border-left: 1px solid gray;
	height: 100vh;
	position: absolute;
}

.lines_bg .line7{
	margin-left: 96vw;
	width:4vw;
	 border-left: 1px solid gray;
	height: 100vh;
	position: absolute;
}

	/*donation_loggedin.html styling*/	
	
/* Slideshow container - donation_loggedin.html*/



/* Caption text */
.container_donation_loggedin .slideshow-container .text {
  position: absolute;
	background-color: transparent;
	width: 50%;
	z-index: 5;
  
}

.container_donation_loggedin .slideshow-container .text h5{
	font-size: 2.5vw;
	
}

.container_donation_loggedin .slideshow-container .text .time h6{
	font-size: 2vw;
	
}

.container_donation_loggedin .slideshow-container .text p{
	font-size: 1.7vw;
	
}

.dots{
		margin-left: 47vw;
	}



}
